{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-default">
	<div class="container">
		<a class="navbar-brand" href="#">Alergias</a>
		<ul class="nav navbar-nav pull-right">
			<li>
				<p class="navbar-btn">
					<a class="btn btn-default" href="{% url 'meal:allergy_add' %}">
						<i class="fa fa-file-o" aria-hidden="true"></i>
						Novo
					</a>
				</p>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th style="width: 21%;">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for allergy in object_list %}
					<tr>
						<td>{{ allergy.name }}</td>
						<td>
							<a href="{% url 'meal:allergy_details' allergy.id %}" class="btn btn-default" title="Exibir">
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>

							<a href="{% url 'meal:allergy_edit' allergy.id %}" class="btn btn-default" title="Editar">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>

							<a href="#modal-id-{{ allergy.id }}" class="btn btn-default" title="Remover" data-toggle="modal">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
						</td>
					</tr>

					<!-- MODAL -->
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="modal fade" id="modal-id-{{ allergy.id }}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Alerta!</h4>
									</div>
									<div class="modal-body">
										<p>Deseja realmente remover <strong>{{ allergy.name }}</strong>?</p>
									</div>
									<div class="modal-footer">
										<form action="{% url 'meal:allergy_delete' allergy.pk %}" method="post">{%csrf_token%}
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-danger" title="Deletar">
												Excluir
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /MODAL -->
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
